@page "/ptoEntry/new"
@using TimeKeepr.Domain.Enums

<div class="row">
    <div class="col-12">
        <h3 class="page-header">New Entry</h3>
    </div>
</div>

<Condition Evaluation="ShowServerErrors">
    <Match>
        <div class="row">
            <div class="col-12">
                <ul class="error-list">
                    <Iterations Items="ServerMessages">
                        <li class=validation-message>@context</li>
                    </Iterations>
                </ul>
            </div>
        </div>
    </Match>
</Condition>

<Condition Evaluation="PtoDto is not null
                        && User is not null">
    <Match>
        <AvailableHoursDisplay VacationHoursAvailable="(decimal)VacationHoursAvailable" SickHoursAvailable="(decimal)SickHoursAvailable" PersonalHoursAvailable="(decimal)PersonalHoursAvailable" />

        <EditForm Model="PtoDto" OnValidSubmit="HandleSubmit">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label">Date</label>
                        <InputDate class="form-control" @bind-Value="PtoDate"
                                   min='@(new DateTime(DateTime.Today.Year, 1, 1).ToString("yyyy-MM-dd"))'
                                   max='@(new DateTime(DateTime.Today.Year, 12, 31).ToString("yyyy-MM-dd"))' />
                    </div>

                    <div class="form-group">
                        <label class="form-label">PTO Type</label>
                        <InputSelect class="form-control" @bind-Value="PtoType">
                            @foreach (var ptoType in Enum.GetValues(typeof(PtoType)))
                            {
                                <Condition Evaluation='ptoType.ToString() != "VacationCarryOver"'>
                                    <Match>
                                        <option value="@ptoType">@ptoType</option>
                                    </Match>
                                </Condition>
                            }
                        </InputSelect>
                    </div>

                    <div class="form-group">
                        <label class="form-label">Hours</label>
                        <InputNumber class="form-control" step="1" min="0" max="@(SelectedHoursAvailable < 8 ? SelectedHoursAvailable : 8)" @bind-Value="PtoHours" />
                    </div>

                    <div class="form-group text-end">
                        <button type="reset" class="btn btn-secondary" @onclick='() => Navigation.NavigateTo("/")'>Cancel</button>

                        <Condition Evaluation="DisableSubmit">
                            <Match>
                                <button type="button" class="btn btn-success" disabled>
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    Submitting...
                                </button>
                            </Match>

                            <NotMatch>
                                <button type="submit" class="btn btn-success">Submit</button>
                            </NotMatch>
                        </Condition>
                    </div>
                </div>
            </div>
        </EditForm>
    </Match>

    <NotMatch>
        <div class="row">
            <div class="col-12 text-center">
                <LoadingSpinner MarginTop="50" />
            </div>
        </div>
    </NotMatch>
</Condition>